.home {
  .loading {
    padding-top: 120px;
    align-items: flex-start;
  }
  .pagi {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }
  .searching {
    justify-content: right;
  }
}